/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: gray;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
  }
  
  /* Media Query */
  @media (max-width: 600px) {
    header {
      background-color: blue;
    }
  }
  