.container {
    display: grid;
    grid-template-areas: "X X";
    grid-template-rows: 50px;
    grid-auto-rows: 200px;
}
.container > div {
    border: 1 px solid black;
    backgroung-color: bisque;
    pading: 5px;
}